body {
    background-color: skyblue;
}

#salaryHeader {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px
}

#employeeList {
    display: inline;
    
}

table {
    width: 100%;
}

div {
    margin: 50px;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    backgorund-color:#dddddd;
}