body {
    background-color: skyblue;
}

#salaryHeader {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px
}

#employeeList {
    display: inline;
    
}

table {
    width: 100%;
}

div {
    margin: 50px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

placeholder:nth-child(even) {
    backgorund-color:white;
}
placeholder:nth-child(odd) {
    backgorund-color: grey;
}

#submitInformation {
    border-radius: 10px;

}

#buttonDiv {
    margin: 2px;
    border: 10px;
    text-align: right;
    padding: 25px;
    width: 930px;

}

#delete {
    width: 50px;
    text-align: center;
}

.red {
    background-color: red;
}

#outputDiv {
    text-align: right;
    padding: 5px;
}